* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#app {
    height: 100%;
    background: #009687;
    background: linear-gradient(to bottom, #009687 0px, 
    #009687 125px, 
    #D7D8D3 50px,
    #D7D8D3 150px);
    padding: 20px 150px;
}

.container {
    height: 650px;
}

.row {
    height: 100%;
}

.col-4,
.col-8 {
    border: 1px solid black;
    padding: 0;
}

.circle_img {
    max-width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.top_bg_color {
    background-color: #E6E6E6;
}

.baby_blue_bg {
    background-color: #8DD7FA;
}

.baby_blue_color {
    color: #8DD7FA;
    padding: 11px;
    font-size: 16px;
}

a {
    font-size: 12px;
}

span {
    font-size: 12px;
    font-weight: 700;
}

input::placeholder {
    font-size: 12px;
    font-weight: bolder;
}